<section>
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field >
            <mat-label >Enter your email</mat-label>
            <input 
            type="email" 
            matInput 
            placeholder="pat@example.com"
            ngModel
            name="email"
            email
            required
            #pwemail="ngModel">
            <mat-error  *ngIf="pwemail.hasError('required')">Field should not be empty</mat-error>
            <mat-error *ngIf="!pwemail.hasError('required')">EMail is In-Valid</mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Password</mat-label>
            <input 
            type="password" 
            matInput 
            placeholder="password"
            name="password"
            ngModel
            minlength="6"
            #pwPass="ngModel"
            required>
            <mat-hint align="end">{{pwPass.value?.length}}/6</mat-hint>
            <mat-hint>It SHould be 6 CHataers</mat-hint>
            <mat-error>It should be 6 charatcers</mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" ngModel name="birthday" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox class="example-margin" color="primary" ngModel name="box" required>Agree to T&C</mat-checkbox>
        <button *ngIf="!(loadingState | async)" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
        <mat-spinner  *ngIf="loadingState | async"></mat-spinner>
    </form>
</section>
